<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Form Controls Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>

<body class="bg-dark">

<div id="demo" class="p-3 w-100">
    <div class="mb-3 d-flex justify-content-center">
        <button id="rewards-btn-up" class="btn btn-primary mr-3" disabled="disabled">UP</button>
        <button id="rewards-btn-right" class="btn btn-primary mr-3" disabled="disabled">RIGHT</button>
        <button id="rewards-btn-down" class="btn btn-primary mr-3" disabled="disabled">DOWN</button>
        <button id="rewards-btn-left" class="btn btn-primary" disabled="disabled">LEFT</button>
    </div>
    <div class="d-flex justify-content-center">
        <div
         id="rewards-board"
         class="bg-white flex-fill"
         style="min-width: 100px; max-width: 1000px;"
        >
        </div>
        <div class="p-2" style="flex-basis: 300px;">
            <div class="mb-3 alert alert-secondary">
                Moves left:
                <strong id="rewards-moves-left">{{moves_left}}</strong>
                <div id="rewards-tp-badge" class="badge badge-notice invisible" title="Telportační mód: neodečítají se tahy">TP</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-danger" id="reset-btn">
                    RESET DEMO
                </button>
            </div>
            <ul id="rewards-list" class="list-group list-group-flush">
                {{#each rewards}}
                <li class="list-group-item" data-reward-id="{{id}}">
                    <div class="badge" style="background-color: {{color}};">
                        {{label}}
                    </div>
                    {{text}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div id="rewards-modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Odměna</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
    <template id="rewards-modal-body">
        <div>
            <div class="badge" data-value="badge"></div>
            <span data-value="text"></span>
        </div>
    </template>
</div>


<script src="/assets/reward_board.js"></script>
<script src="/assets/demo.js"></script>
<script>
    // reset button
    window.D3O_RewardBoard(({fetch}) => {
        const resetButton = document.querySelector('#reset-btn');
        resetButton.addEventListener('click', async () => {
            resetButton.disabled = true;
            await fetch('/reset');
            location.reload();
        });
    });
</script>
</body>

</html>
