<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Form Controls Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body
  class="d-flex justify-content-center align-items-center bg-dark"
  style="height: 100vh;"
>
<div
  id="demo"
  class="p-3"
  style="border: 1px solid green; background-color: aliceblue;"
>
    <div
      id="board-container"
      style="min-width: 100px; max-width: 1000px; border: 1px solid black;"
    >
    </div>
</div>
<script src="/assets/app.js"></script>
<script src="/assets/demo.js"></script>
</body>

</html>
